.division {
  font-size: 20px;
  border: none;
  padding: 10px;
  background-color: white;
}
.delete {
  background-image: url(delete.jpg);
  background-size: cover;
  background-position: center;
  width: 70px;
  height: 40px;
  border: none;
}
.textview {
  width: 250px;
  height: 50px;
  border: 2px solid black;
  padding: 10px;
  font-size: 20px;
  margin: 100px 0px 0px 100px;
  outline: none;
  caret-color: transparent !important;
  cursor: none;
}
.button {
  border: none;
  padding: 10px;
  font-size: 20px;
  margin: 5px;
  background-color: white;
}
table {
  border-collapse: collapse;
  margin: 0px 100px;
}
input {
  outline-color: #4dd1e0;
}
